<!DOCTYPE html>
<html>
<head>
    <title>Sentiment Analysis</title>
    <style>
        textarea::placeholder {
            color: #aaa;
        }
    </style>
</head>
<body>
    <h1>Vietnamese Sentiment Analysis</h1>
    {% if user_id %}
        {% if user_id == 1 %}
            <form method="POST">
                <button type="submit" name="predict">Predict</button>
            </form>
            {% if results %}
                {% for user in results %}
                    <p>Hello {{ user.getUserName }},! This is the result of analyzing the results of the comment:</p>
                    <p>'{{ user.getComment }}'</p>
                    <p>Sentiment: {{ user.getPredict }}</p>
                {% endfor %}
            {% endif %}
        {% else %}
            <p>Hello, {{ username }}!</p>
            <form method="POST" action="{{ url_for('sentiment_analysis')}} ">
                <textarea name="comment_input" placeholder="Enter your comment:" required></textarea><br><br>
                <button type="submit" name="submit">Enter comment</button>
            </form>
        {% endif %}
    {% endif %}
    {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
        <ul>
          {% for category, message in messages %}
            <li class="{{ category }}">{{ message }}</li>
          {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
